body {
  font-family: "Arial";
  background: #202020;
  text-align: left;
  color: aliceblue;
  margin: 0;
  padding: 0;
}
.container{
  width: 70%;
  padding: 1em;
  text-align: left;
  border: 1px solid #ddd;
  margin: 0 auto;  
}
.container h1 {
    font-size: 20px;
}
#cabecera{
    background-color: #88f;
    color: aliceblue;
    margin:0;
    padding: .5em ;
}